.header{
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    color: white;
    padding: 0 1rem;
}
.logo{
    color: #FF2F2F;
    font-size: 1.5rem;
}
.cart{
    font-size: 1.5rem;
}