.header {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  color: white;
  padding: 0 1rem;
  .logo {
    color: #ff2f2f;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .cart {
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;

    .count {
      position: absolute;
      top: -10px;
      right: -10px;
      font-size: 0.6rem;
      padding: 0.2rem 0.4rem;
      background-color: #ff2f2f;
      border-radius: 50%;
    }
  }
}
